/*===============================*
 * This is Waybar Style Config   *
 * Made By Na-Sizuku             *
 *===============================*/

/* Import Color Setings */
@import "./color.css";

/* Reset and Set all default CSS styles */
* {
    border: none;
    border-radius: 0;
    min-width: 0;
    min-height: 28px;
    margin: 0;
    padding: 0;
}

/* Set Font and Font Size */
* {
    font-family: FontAwesome, Source Code Pro;
    font-size: 15px;
}

/* Waybar Set */
#waybar {
    border-radius: 10px 10px 0px 0px;
    background-color: @waybar-bg;
    color: #ffffff;
    transition-property: waybar-bg;
    transition-duration: .5s;
}

#waybar.hidden {
    opacity: 0.3;
}

/* button effect set */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/* Waybar Module Set */
/* Waybar Battrey Module Set */
#battery {
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    background-color: @waybar-battery-bg;
    color: @waybar-battery-text;
}

#battery.warning {
    color: @waybar-battery-text-warning;
}

#battery.critical {
    color: @waybar-battery-text-critical;
}

#battery.full {
    color: @waybar-battery-text-full;
}

#battery.charging {
    color: @waybar-battery-text-charging;
}

#battery.plugged {
    color: @waybar-battery-text-plugged;
}

/* Waybar Bluetooth Module Set */
#bluetooth {
    border: 0px;
    border-style: none;
    border-radius: 0px;
    background-color: @waybay-bluetooth-bg;
    color: @waybay-bluetooth-text;
}

/* Waybar Clock Module Set */
#clock {
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: @waybar-clock-edge;
    background-color: @waybar-clock-bg;
    color: @waybar-clock-text;
    padding: 0px 10px;
}
/* Waybar CPU Module Set */
#cpu {
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: @waybar-CPU-edge;
    background-color: @waybar-CPU-bg;
    color: @waybar-CPU-text;
    padding: 0px 5px;
    margin: 0px 0px 0px 5px;
}

/* Waybar Disk Module Set */
#disk {
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: @waybar-disk-edge;
    background-color: @waybar-disk-bg;
    color: @waybar-disk-text;
    padding: 0px 5px;
    margin: 0px 0px 0px 5px;
}

/* Waybar Memory Module Set */
#memory {
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: @waybar-memory-edge;
    background-color: @waybar-memory-bg;
    color: @waybar-memory-text;
    padding: 0px 5px;
    margin: 0px 0px 0px 5px;
}

/* Waybar Network Module Set */
#network {
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: @waybar-network-edge;
    background-color: @waybar-network-bg;
    color: @waybar-network-text;
    padding: 0px 5px;
    margin: 0px 0px 0px 5px;
}

#network.speed {
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: @waybar-network-edge;
    background-color: @waybar-network-bg;
    color: @waybar-network-text;
    padding: 0px 5px;
    margin: 0px 0px 0px 5px;
}

/* Waybar Keyboard Module Set */
#keyboard-state {
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: @waybar-keyboard-edge;
    background-color: @waybar-keyboard-bg;
    color: @waybar-keyboard-text;
    margin: 0px 0px 0px 5px;
}

#keyboard-state label {
    padding: 0 5px;
}

#keyboard-state label.locked {
    border-radius: 5px;
    background: @waybar-keyboard-bg-locked;
    color: @waybar-keyboard-text-locked;
    font-weight: bolder;
}

/* Waybar Tray Module Set */
#tray {
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: @waybar-tray-edge;
    background-color: @waybar-tray-bg;
    color: @waybar-tray-text;
    padding: 0px 5px;
    margin: 0px 0px 0px 5px;
}

#tray .passive {
    -gtk-icon-effect: dim;
}

#tray .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @waybar-tray-notice;
}

/* Hyprland Set */
/* Hyprland Submap Set */
#submap {
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: @hyprland-submap-edge;
    background-color: @hyprland-submap-bg;
    color: @hyprland-submap-text;
    padding: 0px 5px;
}

/* Hyprland Window Set*/
#window {
    border: 1px;
    border-style: inset;
    border-radius: 5px;
    border-color: @hyprland-window-edge;
    background-color: @hyprland-window-bg;
    color: @hyprland-window-text;
    padding: 0px 10px;
}

/* Hyprland Workspace Set */
#workspaces {
    border: none;
}

#workspaces button {
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: @hyprland-ws-edge;
    background-color: @hyprland-ws-bg;
    color: @hyprland-ws-text;
    margin: 0px 2px;
    padding: 0px 10px;
}

#workspaces button:hover {
    background: @hyprland-ws-bg-hover;
    color: @hyprland-ws-text-hover;
}

#workspaces button.active {
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: @hyprland-ws-edge-active;
    background-color: @hyprland-ws-bg-active;
    color: @hyprland-ws-text-active;
}

#workspaces button.urgent {
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: @hyprland-ws-edge-urgent;
    background-color: @hyprland-ws-bg-urgent;
    color: @hyprland-ws-text-urgent;
}

/* Custom Module Set */
/* Custom Icon Set */
#custom-icon {
    font-size: 23px;
    border-radius: 5px;
    background-image: url("/home/mlc/.config/waybar/icon/icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* Custom Blank Set */
#custom-blank {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

/* Custom Spacing */
#custom-spacing {
    margin: 0px;
    padding: 0px;
    border: 0px;
}